<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title "Stormbox" %}</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Stormbox</a>
    </nav>
</header>

{% if flash('success') %}
    <div class="alert alert-success">
        {{ flash('success') }}
    </div>
{% endif %}

{% if flash('error') %}
    <div class="alert alert-danger">
        {{ flash('error') }}
    </div>
{% endif %}

{% block body %}
{% endblock %}

</body>
</html>
