{% extends 'layout.twig' %}

{% block body %}
    <div class="container">
        <h1>Bienvenue sur stormbox !</h1>

        <p>Stormbox est un logiciel d'upload et de téléchargement de fichier</p>
        <p>Stormbox est respectueux de vos données mais nous pourrons être amené à vérifier et potentiellement supprimé
            un fichier dans un cadre légal, voire désactiver votre compte.</p>
        <p>Stormbox ce veux être un outil permettant le partage de donnée de manière sécurisé et sûr. Aucune donnée
            utilisateur n'est récupéré ni transmis, mis à part le fichier uploadé ou téléchargé.</p>

        <a href="{{ path('auth.login') }}" class="btn btn-info">
            Déjà un compte ?
        </a>

        <a href="{{ path('auth.logout') }}" class="btn btn-info">
            S'inscrire
        </a>
    </div>
{% endblock %}
